* {
  box-sizing: border-box;
}

body {
  background-color: lightslategray;
  margin-top: 30px;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.navbar {
  background-color: lightslategray;
  margin-bottom: 50px;
}

.links {
  float: right;
  color: aqua;
  background-color: lightslategray;
}

.title {
color: aqua;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-banner {
  position: relative;
  margin-bottom: 0px;
  margin-top: 0px;
  
}

.hero-banner h2 {
  position: absolute;
  right: 0;
  top: 45%;
  color: aqua;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#banner-image {
  width: 100%;
  background-image: url(.hero-banner);
  height: 300px;
  background-position: center;
  object-fit: cover;  
}

.page-wrapper {
  margin: 50px;
  background-color: lightslategrey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}



.page-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

}

.page-section h2 {
  flex: 0 0 15%;
  text-align: right;
  padding-right: 20px;
}

.portfolio-contents {
  flex: 0 0 80%;
}


.project {
  height: 300px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  width: 49%;
  justify-content: space-between;
}

.page-section h2 {
  color: aqua;
}


.project img {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
